<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Gate">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="3.04504654713027 -6.56221734584649 0.545724070797634"
        rpy="0 0 0" />
      <mass
        value="8.81017681500004" />
      <inertia
        ixx="2.51535603476188"
        ixy="3.6286891460374E-17"
        ixz="-6.49421501013503E-16"
        iyy="2.83172926520064"
        iyz="-6.03431567425353E-16"
        izz="0.513769208068451" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Gate/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Gate/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>