<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Walls">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="2.34949944582565 -5.49596997809541 1.65531615925928"
        rpy="0 0 0" />
      <mass
        value="9695.62419839998" />
      <inertia
        ixx="72709.5072177744"
        ixy="-3.8167627221271E-13"
        ixz="-444.173490155236"
        iyy="15946.9382028641"
        iyz="-77.2416978554188"
        izz="75340.5899115106" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Walls/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Walls/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>