<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Optitrack_41.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.06108427183407E-17 -2.82868208710551E-16 -0.0679859117678531"
        rpy="0 0 0" />
      <mass
        value="3.7073299789173" />
      <inertia
        ixx="0.00707062968059578"
        ixy="9.15297686531288E-10"
        ixz="-3.11448911360957E-13"
        iyy="0.007070640654857"
        iyz="8.86974693050583E-11"
        izz="0.00957969663598237" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Optitrack_41.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.776470588235294 0.756862745098039 0.737254901960784 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Optitrack_41.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>