<?xml version="1.0"?>
<model>
  <name>3DR Iris AR Markers</name>
  <version>1.0</version>
  <sdf version='1.5'>iris_ar_markers.sdf</sdf>

  <author>
   <name>Simon Honigmann</name>
   <email>simonhonigmann@gmail.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with 4 AR Marker cubes for localization
  </description>
</model>
