<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Chair_Collision">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.32451138240038 -4.80147325017094 0.340689342806393"
        rpy="0 0 0" />
      <mass
        value="1.167078504548" />
      <inertia
        ixx="0.0995875473329481"
        ixy="-0.000346191503137684"
        ixz="0.0165212268255941"
        iyy="0.102266818741201"
        iyz="0.00128198088000475"
        izz="0.0700953194319563" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chair_Collision/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.843137254901961 0.843137254901961 0.843137254901961 0.1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Chair_Collision/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>