<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Tables">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.74098342495566 -5.49066250097687 0.700394758064515"
        rpy="0 0 0" />
      <mass
        value="62.1790756416001" />
      <inertia
        ixx="21.4637355515712"
        ixy="0.542039585018671"
        ixz="2.70068302066733E-15"
        iyy="5.96384197918802"
        iyz="1.55643113927747E-14"
        izz="22.9988251240906" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Tables/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Tables/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>